.container {
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: purple;
    width: 100%;
    height: 6.9%;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar li{
    float: right;
    display: inline;
} 

.footr{
    background-color: purple;
    height: 6.9%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
} 

.lagin{
    margin-top: 6.9%;
    margin-left: 40%;
}

.lagin form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 20%;
}


.sss{
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
    height: 70%;
    border: solid;
    /* display: flex;
    flex-direction: column; */
}

.sss input{
    width: 100%;
}

.sss ul{
    width: 100%;
    height: 80%;
    /* border: solid; */
}


.book{
    height: 45px;
    /* border: solid; */
}

